.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        padding: 137px 0 98px 0;
        font-family: Roboto;
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0.75px;
        text-align: center;
        color: #0B4A72;
        @media (max-width: 1160px) {
            padding: 100px 0 75px 0;
            font-size: 36px;
            line-height: 48px;
        } 
        @media (max-width: 540px) {
            padding: 75px 0 50px 0;
            font-size: 28px;
            line-height: 36px;
        }     
    }
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding-bottom: 120px;
    
    @media (max-width: 820px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 333px;
        background-color: #FFFFFF;
        @media (max-width: 600px) {
            gap: 10px;
        }
        & img {
            max-width: 100%;
            height: auto;
        }
        & h3 {
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0.3499999940395355px;
            text-align: center;  
            color: #0B4A72;
            @media (max-width: 540px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media (max-width: 360px) {
                font-size: 16px;
                line-height: 20px;
            }         
        }
        & p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.8399999737739563px;
            text-align: center;
            color: #000000;
            @media (max-width: 540px) {
                font-size: 14px;
                line-height: 20px;
            }
            @media (max-width: 360px) {
                font-size: 12px;
                line-height: 16px;
            }           
        }
    }
}